/* font for .navbar-brand */

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@700&display=swap');

/* for welcome */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
/* for tagline */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Water+Brush&display=swap');

/* font for nav-items */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

.navbar-bgcolor{
    background-color: #931A25;
}

body{
    background-color: #FDFAF6 !important;
}

.navbar-brand{
    font-size: 2.5rem;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 700;
    
}

.intro-div h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-weight: bold;
    color: #541212;
}

.intro-div p{
    font-size: 5rem;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    color: #FF6337;
}
.navbar-nav .nav-item
{
    padding-right: 0.75rem;
}
li a {
    position: relative;
    text-transform: uppercase;
}

/* Underlines nav-bar */
div ul li a::before {
    content: '';
    width: 100%;
    height: 1.5px;
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

div ul li a:hover:before,
div ul li .active::before {

    transform: scaleX(1);

}

@media screen and (max-width: 992px){
    .navbar-brand{
        font-size: 3.25rem;
    }
    div ul li a::before{
            width: 0%;
    }
}

.ni{
    font-family: 'Merriweather Sans', sans-serif;
    /* font-weight: 500; */
    font-size: 1.1rem;
    padding-left: 1rem;
    /* background: transparent; */
}

html{
    scroll-behavior: smooth;
}

footer{
    background-color: #931A25;
}
.card-img-top{
    outline: none;
    border: 5px solid white;
}
.card-group .card{
    border: none;
    padding:2em 3em;
}
h1{
    font-family: 'Dancing Script', cursive;
    padding: 2em 2em 0.5em 2em;
}
/* Footer Styles */

footer {
    min-height: 50vh;
    background-color:#000080 ;
    background-color: #931A25;
    position: relative;
}

.img1{
    transform: translate(5%,30%);
}

.footer1 {
    width: 38%;
    height: 300px;
    position: absolute;
    top: 45%;
    left: 80%;
    transform: translate(-50%, -50%);

}
i{
    font-size: 20px;
}
.footer1 h1 {
    font-family: 'Dancing Script', cursive;
    padding: 1em 1em 0.5em 1em;
    color: white;
}
.content{
    color: white;
}


.links{
    position: absolute;
    left: 25%;
    top: 15%;
}


.links p{
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    word-spacing: 3px;
    padding: 4px;
        color: white;
}

.links ul li{
    list-style-type: none;
    font-size: 18px;
    padding-top: 6px;
    font-weight:350 ;
        color: white;
}

.links ul li a{
text-decoration: none;
color: black;
text-transform: capitalize;
color: white;
}

.links ul li a:hover{
    text-decoration: none;
}

.social-media{
    transform: translateX(37%);
    position: relative;
    bottom: 100%;
    letter-spacing: 3px;
    color: white;

}

.social-media p{
    transform: translateX(5.1%);
    word-spacing: 3px;
        color: white;
}

i{
    padding: 30px;
        color: white;
}

form{
    margin-top: 20px;
}

label{
    font-weight: 500;
    font-size: 23px;
        color: white;
}

input[type="email"]
{
    margin-left: 16px;
    width: 45%;
    height: 40px;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    padding-left:7px ;
    font-weight: 600;
}

.para{
    text-align: center;
    position: absolute;
    bottom: 0%;
    margin-left: 12%;
    color: white;
}

@media screen and (max-width:1258px)
{
    .img1{
    transform: translate(2%, 15%);    }
    .social-media p{
        font-size:14px;
    }
    .social-media i{
        font-size: 14px;
        padding: 3px;
        margin-left: 32px;
    }
    .footer1 h1{
       font-size: 33px;
    }
    .footer1 h4{
        font-size: 17px;
    }

   
    .links ul li{
        font-size: 17px;
    }
    .links p{
        font-size: 20px;
    }
    label{
        font-size: 20px;
    }
    input[type="email"]
    {
        height: 30px;
    }
    
}
@media screen and (max-width:1021px)
{
    .social-media{
        display: none;
    }
    .links{
        transform: translate(80%);
    }
    .links ul li a{
        font-size: 17px;
    }
    .img1{
        transform: translate(5%,46%);
    }
}
@media screen and (max-width:810px)
{
    .footer1{
        display: none;
    }
         .links {
             transform: translateX(170%);
            
         }
         .links ul li a{
            font-size: 17px;
         }
         .img1{
            transform: translate(12%,50%);
         }

}
@media screen and (max-width:581px)
{
    .links{
        transform: translate(150px,-15px);
        }
        .img1{
            transform: translate(3%,9%);
        }
}

/* Branches Page CSS Styling */


.title-1{
    text-align: center;
    letter-spacing: 2px;
    word-spacing:5px;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 35px;
}
.one{
    text-align: center;
}
